<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/convert.css}"/>
</head>
<body>
<form th:action="@{/logout}" id="logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>


<div id="feedback"></div>
<form class = "listForm" id="convertForm">
    <div class="selectors">
        <h1>Конвертер</h1>
        <div class = "form-inline">
            <select class = "form-control" style="width: 300px" id = "currency1" th:field="*{currencies}">
                <option style="width: 300px" th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
            </select>
            <select class = "form-control" style="width: 300px" id = "currency2" th:field="*{currencies}">
                <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
            </select>
        </div>
    </div>
    <div class="form-inline">
        <input type="text" style="width: 300px" class="form-control" id="amount"/>
        <input type="text" style="width: 300px" class="form-control" id="result">
    </div>
    <button type="submit" id="btn-convert"
            class="btn btn-primary btn-lg">Конвертировать
    </button>


</form>

<form class = "listForm" id="historyForm">
    <h1>История</h1>
    <div class="form-inline">
        <input type="date" class="form-control" id="historyDate"/>

        <select id = "firstCurrency" class="form-control" style="width: 300px" th:field="*{currencies}">
            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
        </select>
        <select id = "secondCurrency" class="form-control" style="width: 300px" th:field="*{currencies}">
            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' +${currency.name} + ')'"></option>
        </select>
    </div>

    <table class = "table table-striped" style="width: 50%" id="historyTable">
        <thead class ="thead-light">
        <tr>
            <th>Исходная валюта</th>
            <th>Целевая валюта</th>
            <th>Исходная сумма</th>
            <th>Получаемая сумма</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <button type="submit" id="btn-search"
            class="btn btn-primary btn-lg">Поиск
    </button>

</form>
<div class = "container">
    <div class = "history-template">
        <div id="history"></div>
    </div>
</div>

<script type="text/javascript"
        src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>